.feature-card {
    text-align: center;
    max-width: 300px;
  }
  
  .feature-image {
    width: 100px;
    height: 100px;
  }
  
  h3 {
    font-size: 1.5em;
    margin-top: 10px;
    font-family: CerebriSans, sans-serif;
  }
  
  p {
    font-size: 1em;
    color: #666;
  }
  